<!doctype html>
  <!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- include 'layout-favicon' -%}

    <title>{{ page_title }}</title>

    <!-- Header Content ======================================= -->

      {{ content_for_header }}

    <!-- Stylesheets ========================================== -->

      {{ checkout_stylesheets }}

      {%- include 'style-tags', layout: 'checkout' -%}
      {%- include 'api-css-variables' -%}

    <!-- Scripts ============================================== -->

      {{ checkout_scripts }}

      {%- include 'script-tags', layout: 'checkout' -%}
      {%- include 'api-shop' -%}

  </head>

  <body
    data-template="{{ template.name | handle }}"
    {%- if template.suffix != blank -%}
    data-alternate-template="{{ template.suffix | handle }}"
    {%- endif -%}>

    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        <a href="https://tommyjohn.myshopify.com" class="logo logo--left">
          <h1 class="logo__text visually-hidden">TommyJohn</h1>
          {% include 'svg-logo' %}
        </a>
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">


            <a href="https://tommyjohn.myshopify.com" class="logo logo--left">
                <h1 class="logo__text visually-hidden">TommyJohn</h1>
                {% include 'svg-logo' %}
            </a>


            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">


            <a href="https://tommyjohn.myshopify.com" class="logo logo--left">
                <h1 class="logo__text visually-hidden">TommyJohn</h1>
                {% include 'svg-logo' %}
            </a>


          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

  </body>
</html>
